<div class="row g-4 mt-4 text-center">
    <div class="col-12">
        <h4 class="mb-3">Our Partners</h4>
        <a href="https://wise.prf.hn/click/camref:1011l4ou27" target="_blank" rel="noopener noreferrer">
            <img src="/images/wise-logo.png" alt="Wise Money Transfer" class="partner-logo mx-2">
        </a>
        <a href="https://tiqets.tp.st/cWNvVEJO" target="_blank" rel="noopener noreferrer">
            <img src="/images/tiqets-logo.png" alt="Tiqets for events" class="partner-logo mx-2">
        </a>
        <a href="https://airalo.tp.st/3wdye9eb" target="_blank" rel="noopener noreferrer">
            <img src="/images/airalo-logo.png" alt="Airalo e sims" class="partner-logo mx-2">
        </a>
        <a href="https://trip.tp.st/FRaj1wpo" target="_blank" rel="noopener noreferrer">
            <img src="/images/trip-logo.png" alt="Trip Booking" class="partner-logo mx-2">
        </a>
    </div>
</div>