<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get in touch with Holdyah Belize. Contact us for questions, feedback, or support regarding BZD to MXN exchange rate tracking and currency alerts." />

    <title>Contact Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .contact-container {
            max-width: 400px;
            width: 90%;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h2 {
            color: #333;
        }
        p {
            color: #666;
        }
        a {
            display: inline-block;
            background-color:#495057;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.3s;
        }
        a:hover {
            background-color: #0056b3;
        }
    </style>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <%- include('partials/menu') %>
    <div class="contact-container text-center pt-4">
        <%- include('partials/holdyah-logo') %>
        <h2>Contact Us</h2>
        <p>If you have any questions, feel free to reach out to us via email.</p>
        <p><a href="mailto:info@holdyah.com">Email Us</a></p>
    </div>
    <script src="./menu-toggle.js"></script>
</body>
</html>